apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-cart
  namespace: devops
spec:
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
      - name: redis
        image: redis:alpine
        ports:
        - containerPort: 6379
---
# 1. השירות של האפליקציה (נחזיר אותו ל-ClusterIP הפשוט)
apiVersion: v1
kind: Service
metadata:
  name: app-service
  namespace: devops
spec:
  type: ClusterIP # עכשיו השירות סגור לעולם החיצון
  selector:
    app: visitor-app
  ports:
    - port: 80
      targetPort: 5000
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: main-ingress
  namespace: devops
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: nginx
  rules:
  - host: my-app.local   # יפנה ל-Redis UI
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: app-service
            port:
              number: 80
  - host: hello.local    # יפנה לאפליקציה הישנה (hello-k8s)
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: my-service
            port:
              number: 80